{
  "env": {
    "mocha": true
  },

  "extends": "airbnb",
  "rules": {
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-return-assign": ["error", "except-parens"]
  }
}